@model List<ETicaretProjesi.Models.Product>

<h2>Ürün Listesi</h2>

@foreach (var item in Model)
{
    <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        <img src="@item.ImageUrl" width="150" />
        <h3>@item.Name</h3>
        <p>@item.Description</p>
        <strong>@item.Price ₺</strong>
    </div>
}